trunk/framework/src/main/resources/xml/mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://org.ximtec.ipaper.gesture.mapping"
	xmlns:tns="http://org.ximtec.ipaper.gesture.mapping">

	<element name="mapping" type="tns:MappingType" />

	<complexType name="MappingType">
		<sequence>
			<element name="map" type="tns:MapType"
				minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="MapType">
		<attribute name="name" type="string"></attribute>
		<attribute name="value" type="integer"></attribute>
	</complexType>
</schema>